.collapse {
    max-width: 1023px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.collapse-title {
    display: flex;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    justify-content: flex-start;
}

.collapse-image {
    width: 32px;
    height: 32px;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.collapse-icon-open {
    transform: rotate(-180deg);
}

@media (max-width: 768px) {
    .collapse {
        max-width: 100%;
        gap: 20px;
    }

    .collapse-title {
        font-size: 13px;
        padding: 10px;
        margin-bottom: 0;
    }

    .collapse-image {
        width: 24px;
        height: 24px;
    }

    .collapse-content {
        font-size: 12px;
    }
}