.collapse {
  margin: 20px 200px;
}

.collapse h2 {
    display: flex;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    justify-content: flex-start;
}

.collapse img {
    width: 32px;
    height: 32px;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.collapse-icon {
    transition: transform 0.3s ease;
}

.collapse-icon-open {
    transform: rotate(-180deg);
}