.collapse {
    max-width: 1023px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.collapse-title {
    display: flex;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    color: white;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
}

.collapse-image {
    width: 32px;
    height: 32px;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.collapse-icon-open {
    transform: rotate(-180deg);
}

.collapse-content {
    line-height: 1.5;
    font-size: 18px;
    padding: 0 20px;
}

.collapse-content p {
    margin: 0;

}

.collapse-content ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .collapse {
        max-width: 100%;
        gap: 20px;
    }

    .collapse-title {
        font-size: 13px;
        padding: 8px;
        margin-bottom: 0;
    }

    .collapse-image {
        width: 24px;
        height: 24px;
    }

    .collapse-content {
        font-size: 12px;
    }
}