.error {
    color: #FF6060;
    text-align: center;
    padding: 80px 20px;
}

.error-title {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
}

.error-text {
    font-size: 36px;
    font-weight: 500;
    margin: 80px auto;

}

.error-link {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .error {
        padding: 80px 20px;
    }

    .error-title {
        font-size: 96px;
    }

    .error-text {
        font-size: 18px;
        margin: 80px auto;
        max-width: 260px;
    }

    .error-link {
        font-size: 14px;
    }
}