.header {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.header-nav {
  display: flex;
  gap: 60px;
}

.header-nav a {
  color: #000000;

  font-family: Montserrat, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-logo {
  width: 210px;
}

@media (max-width: 768px) {
  .header {
    margin: 20px;
  }

  .header-logo {
    width: 145px;
  }

  .header-nav {
    gap: 26px;
  }

  .header-nav a {
    font-size: 12px;
    text-transform: uppercase;
  }
}