.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 56px 50px;

    gap: 50px 60px;
}

.home .banner-image {
    filter: brightness(30%);
}

@media (max-width: 768px) {
    .card-section {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}